<section class="py-5">
	<h1 class="display-3">
		Your transaction is Crystal through! 
	</h1>
	<p class="lead">We are glad to anounce your product will be delivered in a few business days
	</p>
	<a href="/" class="btn btn-dark btn-lg">Home Page</a>
</section>
